/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 62.5%;
  font-size: 100%;
}

body {
  background: #ccc;
  color: #000;
  font-size: 1.6rem;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/* GAME */
#world {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  min-height: 37.2rem;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
}


/* SPELLS */
.spell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

.spell .gem {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

/* GEMS */
#gems {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#gems .gem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

/* SUITS */
.moons {
  background-color: silver;
}

.suns {
  background-color: orange;
}

.waves {
  background-color: blue;
}

.leaves {
  background-color: brown;
}

.wyrms {
  background-color: green;
}

.knots {
  background-color: yellow;
}
