/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 62.5%;
}

body {
  background: #ccc;
  color: #000;
  font-size: 1.6rem;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/* CHARACTERS */
#characters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  min-height: 37.2rem;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
}

.characters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.portrait {
  display: flex;
  width: 4rem;
  align-self: stretch;
  border: 1px solid black;
}

.arrow + .arrow {
  margin-top: 2rem;
}

.left.arrow {
  display: block;
  width: 2rem;
  height: 2rem;
  border-left: .5rem solid rgba(0,0,0,.3);
  border-top: .5rem solid rgba(0,0,0,.3);
  transform: rotate(-45deg);
  margin-right: 1rem;
}

.right.arrow {
  display: block;
  width: 2rem;
  height: 2rem;
  border-right: .5rem solid rgba(0,0,0,.3);
  border-top: .5rem solid rgba(0,0,0,.3);
  transform: rotate(45deg);
  margin-left: 1rem;
}

.stats {
  font-size: 1rem;
}

.stats .role {
  font-size: 1.6rem;
  text-align: center;
}

/* GAME */
#world {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  min-height: 37.2rem;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
}


/* SPELLS */
.spell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

.spell .gem {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

/* FLAVOR */
.flavor.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
  font-variant: small-caps;
  text-transform: capitalize;
}

.flavor.text {
  font-family: serif;
}

/* SIGNS */
#signpost {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  min-width: 6rem;
}

.sign .name {
  display: none;
}

.sign .gems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.sign .gem {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid black;
  border-radius: 50%;
}

/* GEMS */
#gems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#gems .gem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
  border-radius: 50%;
}

/* SUITS */
.moons {
  background-color: silver;
}

.suns {
  background-color: orange;
}

.waves {
  background-color: blue;
}

.leaves {
  background-color: brown;
}

.wyrms {
  background-color: green;
}

.knots {
  background-color: yellow;
}

.hidden {
  display: none !important;
}
