/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 62.5%;
  font-size: 100%;
}

body {
  background: #ccc;
  color: #000;
  font-size: 1.6rem;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* GAME */
#world {
  display: flex;
  flex-direction: column;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  min-height: 37.2rem;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
}


/* SPELLS */
.spell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

.spell .gem {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.spell .gem.suns {
  background: yellow;
}

.spell .gem.moons {
  background: silver;
}

#deck {
  display: flex;
  flex-direction: column;
  width: 22rem;
  min-height: 10rem;
  margin: 0 auto;
  background: #fff;
}
