/* COLORS */
$map-color: rgb(241, 233, 210);
$shaded-map-color: rgb(222, 213, 191);
$ink-color: rgb(29, 0, 41);
$progress-color: rgb(116, 86, 23);
$metal-color: rgb(117, 113, 97);
$wil-color: rgb(213, 94, 0);
$str-color: rgb(230, 159, 0);
$qck-color: rgb(240, 228, 66);
$bld-color: rgb(0, 158, 115);
$chr-color: rgb(0, 144, 178);
$int-color: rgb(204, 121, 167);
$base-font-size: 1.6rem;
$sprite-width: 100% * 27;
$sprite-cols: 100% / (27 - 1);
$sprite-rows: 100% / (2 - 1);
$touch-size: 4.8rem;

/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cochin,Baskerville,Georgia,Times,serif;
  font-size: 62.5%;
}

body {
  background: $metal-color;
  color: $ink-color;
  font-size: $base-font-size;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/* NARRATIVE */
.narrative {
  justify-content: space-between;
  min-height: 7.25rem;
}

.narrative .button {
  width: $touch-size;
  height: $touch-size;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: .5rem;
}

.icon {
  display: inline-block;
  width: $touch-size;
  height: $touch-size;
  background: url(../img/sprites.png);
  background-size: $sprite-width;
}

/* ICONS */
.mushrooms { background-position: ($sprite-cols * 0) ($sprite-rows * 0); }
.rabbit    { background-position: ($sprite-cols * 1) ($sprite-rows * 0); }
.arachnid  { background-position: ($sprite-cols * 2) ($sprite-rows * 0); }
.bat       { background-position: ($sprite-cols * 3) ($sprite-rows * 0); }
.snake     { background-position: ($sprite-cols * 4) ($sprite-rows * 0); }
.boar      { background-position: ($sprite-cols * 5) ($sprite-rows * 0); }
.scorpion  { background-position: ($sprite-cols * 6) ($sprite-rows * 0); }
.octo      { background-position: ($sprite-cols * 7) ($sprite-rows * 0); }
.ghost     { background-position: ($sprite-cols * 8) ($sprite-rows * 0); }
.eye       { background-position: ($sprite-cols * 9) ($sprite-rows * 0); }
.skeleton { background-position: ($sprite-cols * 10) ($sprite-rows * 0); }
.gold     { background-position: ($sprite-cols * 11) ($sprite-rows * 0); }
.helmet0  { background-position: ($sprite-cols * 12) ($sprite-rows * 0); }
.helmet1  { background-position: ($sprite-cols * 13) ($sprite-rows * 0); }
.helmet2  { background-position: ($sprite-cols * 14) ($sprite-rows * 0); }
.armour0  { background-position: ($sprite-cols * 15) ($sprite-rows * 0); }
.armour1  { background-position: ($sprite-cols * 16) ($sprite-rows * 0); }
.armour2  { background-position: ($sprite-cols * 17) ($sprite-rows * 0); }
.sword0   { background-position: ($sprite-cols * 18) ($sprite-rows * 0); }
.sword1   { background-position: ($sprite-cols * 19) ($sprite-rows * 0); }
.sword2   { background-position: ($sprite-cols * 20) ($sprite-rows * 0); }
.bow0     { background-position: ($sprite-cols * 21) ($sprite-rows * 0); }
.bow1     { background-position: ($sprite-cols * 22) ($sprite-rows * 0); }
.staff0   { background-position: ($sprite-cols * 23) ($sprite-rows * 0); }
.staff1   { background-position: ($sprite-cols * 24) ($sprite-rows * 0); }
.staff2   { background-position: ($sprite-cols * 25) ($sprite-rows * 0); }
.bottle0  { background-position: ($sprite-cols * 26) ($sprite-rows * 0); }

.stats .col  {
  justify-content: flex-end;
}

.stats .gem,
.stats .col + .col {
  margin-left: 1rem;
}

.stats .stat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gem {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid $ink-color;
  border-radius: 50%;
  background: currentColor;
  box-shadow: inset rgba(0,0,0,.5) 0 -1px 3px;
}

/* GAME */
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.world {
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  margin: 0 auto 1.6rem auto;
}

.quest {
  height: 37.2rem;
}

.ui {
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem .5rem;
}

.bag {
  padding: .5rem;
}

.bag .icon {
  width: $base-font-size * 1.5;
  height: $base-font-size * 1.5;
  max-width: 32px;
  max-height: 32px;
  margin-right: .5rem;
}

.bag .name {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bag .info {
  align-self: flex-end;
}

.bag .value {
  margin-right: .5rem;
}

/* PLAYER */
.player {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: .5rem .5rem 1rem .5rem;
}

#game-progress {
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.diamond {
  display: block;
  width: .6rem;
  height: .6rem;
  border: 1px solid $ink-color;
  transform: rotate(45deg);
}

.diamond.filled {
  background: $progress-color;
}

.celestial {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.day .celestial:before {
  content: '\00263c';
}

.night .celestial:before {
  content: '\00263e';
}

.experience {
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0 .5rem 0 1rem;
}

.experience > .points {
  justify-content: center;
}

.experience > .points > span {
  margin: 0 .5rem;
}

.experience > .levels {
  align-items: center;
}

.experience > .levels > .progress {
  flex-grow: 1;
  border: 1px solid $ink-color;
  margin: 0 1rem;
  height: .84rem;
  border-radius: (.84rem / 2);
}

#xp-progress {
  width: 0%;
  display: inline-block;
  background: $progress-color;
  border-radius: (1rem / 2);
}

/* ITEMS */
#used-items {
  min-height: $touch-size;
}

/* LEVEL UP */
.level-up {
  justify-content: space-around;
  flex-grow: 1;
  margin-bottom: 4rem;
}

.level-up > .row {
  justify-content: space-around;
}

/* SIGNS */
#signpost {
  justify-content: space-around;
}

.sign {
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
}

.sign .text {
  padding-left: .5rem;
  padding-right: .5rem + 2.4rem;
}

.sign .title {
  display: block;
}

.mini.sign .text {
  display: none;
}

.sign .gems {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mini.sign .gems {
  left: 0;
  right: auto;
}

.mini.sign .gems.gold {
  display: none;
}

.sign .value {
  position: absolute;
  top: -.6rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  border: 1px solid $ink-color;
  border-bottom-right-radius: 33%;
  border-top-left-radius: 33%;
  opacity: .8;
}

.mini.sign .value {
  left: 0;
  right: auto;
}

.mini.sign.loot .value, {
  left: auto;
  right: 0;
}

.day .sign .value {
  background: white;
  color: $ink-color;
}

.night .sign .value {
  background: $ink-color;
  color: white;
}

.sign.loot .value {
  background: white;
  color: $ink-color;
}

/* GEMS */
#gems {
  justify-content: space-between;
}

#gems .set {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  width: $touch-size;
  height: $touch-size;
}

.box {
  position: relative;
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
}

/* https://paulund.co.uk/create-polaroid-image-with-css */
.box:nth-child(2n) {
  top: .04rem;
  left: .04rem;
}

.box:nth-child(3n) {
  top: -.24rem;
  left: -.24rem;
}

.box:nth-child(4n) {
  top: .14rem;
  left: .14rem;
}

.box:nth-child(5n) {
  top: -.18rem;
  left: -.18rem;
}

.box .gem {
  position: absolute;
  top: 0;
  left: 0;
}

/* SUITS */
.wil {
  color: $wil-color;
}

.str {
  color: $str-color;
}

.qck {
  color: $qck-color;
}

.bld {
  color: $bld-color;
}

.chr {
  color: $chr-color;
}

.int {
  color: $int-color;
}

/* CONTROLS */
.button {
  color: $ink-color;
  border: 1px solid currentColor;
  border-radius: .5rem;
}

.hitbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $touch-size;
  min-height: $touch-size;
}

/* FLAVOR */
.iconic {
  font-variant: small-caps;
  text-transform: capitalize;
}

.flavor::first-letter {
  float: left;
  font-size: $base-font-size * 1.1;
  line-height: 1;
  margin-right: .5rem;
  padding: .5rem;
  color: $ink-color;
  border: 4px double currentColor;
}

.flavor .iconic {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.hr {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $ink-color;
  border-bottom: 1px solid $ink-color;
  height: .3rem;
  margin: 0 .5rem;
}

.hr .diamond {
  background: $shaded-map-color;
}

/* FEEDBACK */
.pickable.button,
.pickable .d1,
.pickable .d2,
.pickable .d3,
.pickable .d4,
.pickable .value {
  box-shadow: .2rem .2rem .5rem rgba(0,0,0,.3);
}

.picked.button,
.picked .d1,
.picked .d2,
.picked .d3,
.picked .d4,
.picked .value {
  box-shadow: none !important;
}

/* PATTERNS */
.paper {
  /* https://www.sitepoint.com/pure-css3-paper-curls/ */
  background: $map-color;
  border: 1px solid $ink-color;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,.4), inset 0 0 50px rgba(0,0,0,.3);
}
.paper:before, .paper:after {
  /* https://www.sitepoint.com/pure-css3-paper-curls/ */
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  transform: skew(-5deg) rotate(-5deg);
  box-shadow: 0 6px 12px rgba(0,0,0,.5);
  z-index: -1;
}
.paper:after {
  left: auto;
  right: 10px;
  transform: skew(5deg) rotate(5deg);
}

/* DICE */
.dice {
  align-items: flex-start;
}
.d1, .d2, .d3, .d4 {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  color: $ink-color;
  border: 1px solid currentColor;
  opacity: .8;
}
.d1:before,
.d2:before,
.d2:after,
.d3:before,
.d3:after,
.d4:before,
.d4:after {
  position: absolute;
  content: ' ';
  display: block;
  width: .5rem;
  height: .5rem;
  background: currentColor;
  border-radius: 50%;
}
.d1:before {
  top: 1rem;
  left: 1rem;
}
.d2:before,
.d3:before,
.d4:before {
  top: .375rem;
  right: .375rem;
}
.d2:after,
.d3:after,
.d4:after {
  bottom: .375rem;
  left: .375rem;
}
.d3:after {
  box-shadow: .55rem -.55rem 0 currentColor;
}
.d4:before {
  box-shadow: -1.1rem 0 0 currentColor;
}
.d4:after {
  box-shadow: 1.1rem 0 0 currentColor;
}
.d1 { transform: rotate(7deg); }
.d2 { transform: rotate(-14deg); }
.d3 { transform: rotate(14deg); }
.d4 { transform: rotate(-7deg); }

/* COLOPHON */
.colophon {
  margin: 1.6rem .5rem .8rem .5rem;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(0,0,0,.55);
  text-align: right;
}

.colophon > a:hover {
  cursor: auto;
  text-decoration: underline;
}

abbr[title="and"] {
  font-style: italic;
  text-decoration: none;
  font-size: 110%;
  cursor: auto;
  /* Prevents `abbr` affecting the `line-height`. */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* UTILITY */
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}

.pixelated {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
}
