/* COLORS */
/*
DawnBringer's 16 Color Palette v1.0

black       - rgb(20, 12, 28)
dark purple - rgb(68, 36, 52)
purple      - rgb(48, 52, 109)
dark gray   - rgb(78, 74, 78)
brown       - rgb(133, 76, 48)
dark green  - rgb(52, 101, 36)
red         - rgb(208, 70, 72)
gray        - rgb(117, 113, 97)
blue        - rgb(89, 125, 206)
orange      - rgb(210, 125, 44)
silver      - rgb(133, 149, 161)
light green - rgb(109, 170, 44)
pink        - rgb(210, 170, 153)
light blue  - rgb(109, 194, 202)
yellow      - rgb(218, 212, 94)
white       - rgb(222, 238, 214)

http://pixeljoint.com/forum/forum_posts.asp?TID=12795
*/
$map-color: rgb(222, 238, 214);
$ink-color: rgb(20, 12, 28);
$metal-color: rgb(117, 113, 97);
$moons-color: rgb(133, 149, 161);
$suns-color: rgb(210, 125, 44);
$waves-color: rgb(109, 194, 202);
$leaves-color: rgb(210, 170, 153);
$wyrms-color: rgb(109, 170, 44);
$knots-color: rgb(218, 212, 94);
$base-font-size: 1.6rem;
$sprite-cols: 100% / 7;
$sprite-rows: 100% / 10;

/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Gerogia,Times,serif;
  font-size: 62.5%;
}

body {
  background: $metal-color;
  color: $ink-color;
  font-size: $base-font-size;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style-position: inside;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/* NARRATIVE */
.narrative {
  padding: .5rem;
}

.picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
  margin-bottom: 4rem;
}

.portrait {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  align-self: center;
  background-image: url(../img/sprites.png);
  background-size: 8 * 100%;
  background-position: 0 0;
}

.portrait.lunatic {
  background-position: ($sprite-cols * 0) ($sprite-rows * 0);
}

.portrait.bard {
  background-position: ($sprite-cols * 1) ($sprite-rows * 0);
}

.portrait.savage {
  background-position: ($sprite-cols * 2) ($sprite-rows * 0);
}

.portrait.light.keeper {
  background-position: ($sprite-cols * 3) ($sprite-rows * 0);
}

.portrait.huntress {
  background-position: ($sprite-cols * 4) ($sprite-rows * 0);
}

.portrait.watchman {
  background-position: ($sprite-cols * 5) ($sprite-rows * 0);
}

.portrait.painter {
  background-position: ($sprite-cols * 6) ($sprite-rows * 0);
}

.portrait.merchant {
  background-position: ($sprite-cols * 7) ($sprite-rows * 0);
}

.monster.rat {
  background-position: ($sprite-cols * 0) ($sprite-rows * 1);
}

.monster.millipede {
  background-position: ($sprite-cols * 1) ($sprite-rows * 1);
}

.monster.lizard {
  background-position: ($sprite-cols * 2) ($sprite-rows * 1);
}

.monster.arachnid {
  background-position: ($sprite-cols * 3) ($sprite-rows * 1);
}

.monster.mushrooms {
  background-position: ($sprite-cols * 0) ($sprite-rows * 2);
}

.monster.rabbit {
  background-position: ($sprite-cols * 1) ($sprite-rows * 2);
}

.monster.bat {
  background-position: ($sprite-cols * 2) ($sprite-rows * 2);
}

.monster.snake {
  background-position: ($sprite-cols * 4) ($sprite-rows * 2);
}

.monster.wolf {
  background-position: ($sprite-cols * 5) ($sprite-rows * 2);
}

.monster.boar {
  background-position: ($sprite-cols * 6) ($sprite-rows * 2);
}

.monster.bear {
  background-position: ($sprite-cols * 7) ($sprite-rows * 2);
}

.monster.vampire.bat {
  background-position: ($sprite-cols * 3) ($sprite-rows * 2);
}

.monster.scorpion {
  background-position: ($sprite-cols * 2) ($sprite-rows * 3);
}

.monster.octo {
  background-position: ($sprite-cols * 3) ($sprite-rows * 3);
}

.monster.ghost {
  background-position: ($sprite-cols * 6) ($sprite-rows * 3);
}

.monster.eye {
  background-position: ($sprite-cols * 7) ($sprite-rows * 3);
}

.monster.goblin {
  background-position: ($sprite-cols * 0) ($sprite-rows * 4);
}

.monster.skeleton {
  background-position: ($sprite-cols * 2) ($sprite-rows * 4);
}

.monster.orc {
  background-position: ($sprite-cols * 3) ($sprite-rows * 4);
}

.monster.cyclops {
  background-position: ($sprite-cols * 4) ($sprite-rows * 4);
}

.monster.werewolf {
  background-position: ($sprite-cols * 5) ($sprite-rows * 4);
}

.monster.demon {
  background-position: ($sprite-cols * 7) ($sprite-rows * 4);
}

/* ARMOUR */
.loot.armour0 { background-position: ($sprite-cols * 1) ($sprite-rows * 9); }
.loot.armour1 { background-position: ($sprite-cols * 2) ($sprite-rows * 9); }
.loot.armour2 { background-position: ($sprite-cols * 3) ($sprite-rows * 9); }
.loot.armour3 { background-position: ($sprite-cols * 4) ($sprite-rows * 9); }
/* BOTTLES */
.loot.bottle0 { background-position: ($sprite-cols * 1) ($sprite-rows * 6); }
.loot.bottle1 { background-position: ($sprite-cols * 2) ($sprite-rows * 6); }
.loot.bottle2 { background-position: ($sprite-cols * 3) ($sprite-rows * 6); }
.loot.bottle3 { background-position: ($sprite-cols * 4) ($sprite-rows * 6); }
.loot.bottle4 { background-position: ($sprite-cols * 5) ($sprite-rows * 6); }
.loot.bottle5 { background-position: ($sprite-cols * 6) ($sprite-rows * 6); }
/* BOWS */
.loot.bow0 { background-position: ($sprite-cols * 3) ($sprite-rows * 10); }
.loot.bow1 { background-position: ($sprite-cols * 4) ($sprite-rows * 10); }
.loot.bow2 { background-position: ($sprite-cols * 5) ($sprite-rows * 10); }
/* HELMETS */
.loot.helmet0 { background-position: ($sprite-cols * 0) ($sprite-rows * 8); }
.loot.helmet1 { background-position: ($sprite-cols * 2) ($sprite-rows * 8); }
.loot.helmet2 { background-position: ($sprite-cols * 3) ($sprite-rows * 8); }
.loot.helmet3 { background-position: ($sprite-cols * 4) ($sprite-rows * 8); }
.loot.helmet4 { background-position: ($sprite-cols * 6) ($sprite-rows * 8); }
/* MUSHROOMS */
.loot.mushrooms0 { background-position: ($sprite-cols * 0) ($sprite-rows * 2); }
/* STAVES */
.loot.staff0 { background-position: ($sprite-cols * 1) ($sprite-rows * 7); }
.loot.staff1 { background-position: ($sprite-cols * 3) ($sprite-rows * 7); }
.loot.staff2 { background-position: ($sprite-cols * 5) ($sprite-rows * 7); }
.loot.staff3 { background-position: ($sprite-cols * 6) ($sprite-rows * 7); }
.loot.staff4 { background-position: ($sprite-cols * 7) ($sprite-rows * 7); }
/* SWORDS */
.loot.sword0 { background-position: ($sprite-cols * 0) ($sprite-rows * 5); }
.loot.sword1 { background-position: ($sprite-cols * 1) ($sprite-rows * 5); }
.loot.sword2 { background-position: ($sprite-cols * 2) ($sprite-rows * 5); }
.loot.sword3 { background-position: ($sprite-cols * 3) ($sprite-rows * 5); }
.loot.sword4 { background-position: ($sprite-cols * 4) ($sprite-rows * 5); }
.loot.sword5 { background-position: ($sprite-cols * 5) ($sprite-rows * 5); }
.loot.sword6 { background-position: ($sprite-cols * 6) ($sprite-rows * 5); }
.loot.sword7 { background-position: ($sprite-cols * 7) ($sprite-rows * 5); }

.stats {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-variant: small-caps;
  text-transform: capitalize;
}

.stats > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.stats .stat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats div + div {
  margin-left: 1rem;
}

.gem {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid $ink-color;
  border-radius: 50%;
}

.stats .gem {
  margin-left: 1rem;
}

/* GAME */
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#world {
  display: flex;
  flex-direction: column;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  height: 37.2rem;
  overflow: hidden;
  margin: 0 auto;
  background: $map-color;
}

.map {
  width: 32rem;
  margin: 0 auto;
  background: $map-color;
}

.backpack {
  padding: .5rem;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* PLAYER */
.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid $ink-color;
}

.celestial {
  display: inline-block;
  align-self: flex-end;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid $ink-color;
  border-top-left-radius: 33%;
  border-bottom-right-radius: 33%;
}

.day .celestial {
  background: white;
}

.night .celestial {
  background: black;
}

.in-game.stats {
  margin: 0;
  padding: 0;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-left: 1rem;
}

.experience > .points {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.experience > .points > span {
  margin: 0 .5rem;
}

.experience > .levels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.experience > .levels > .progress {
  display: flex;
  flex-grow: 1;
  border: 1px solid $ink-color;
  margin: 0 1rem;
  height: 1rem;
  border-radius: (1rem / 2);
}

#xp-progress {
  width: 0%;
  display: inline-block;
  background: $metal-color;
}

/* ITEMS */
.collection {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#used-gems {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 4.8rem;
  margin: .5rem .5rem 0 0;
}

#used-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: .5rem;
}

/* LEVEL UP */
.level-up {
  flex-grow: 1;
  justify-content: space-around;
}

/* FLAVOR */
.flavor.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
  text-transform: capitalize;
}

/* SIGNS */
#signpost {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .5rem;
  margin-bottom: 4rem;
}

.sign {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.sign .body {
  display: flex;
  flex-direction: row;
}

.sign .text {
  padding-left: .5rem;
  padding-right: .5rem + 2.4rem;
}

.sign .title {
  font-weight: normal;
  font-size: 1.5rem;
  display: block;
}

.mini.sign .text {
  display: none;
}

.sign .gems {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mini.sign .gems {
  left: 0;
  right: auto;
  opacity: .8;
}

.mini.sign.lizard .gems {
  left: auto;
  right: 0;
}

.sign .value {
  position: absolute;
  top: -.6rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  border: 1px solid $ink-color;
  border-bottom-right-radius: 33%;
  border-top-left-radius: 33%;
}

.mini.sign .value {
  left: 0;
  right: auto;
  opacity: .8;
}

.mini.sign.loot .value,
.mini.sign.millipede .value,
.mini.sign.wolf .value {
  left: auto;
  right: 0;
}

.day .sign .value {
  background: white;
  color: black;
}

.night .sign .value {
  background: black;
  color: white;
}

/* GEMS */
#gems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
}

#gems > * {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  width: 4.8rem;
  height: 4.8rem;
}

.box {
  position: relative;
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
}

/* https://paulund.co.uk/create-polaroid-image-with-css */
.box:nth-child(2n) {
  top: .04rem;
  left: .04rem;
}

.box:nth-child(3n) {
  top: -.24rem;
  left: -.24rem;
}

.box:nth-child(4n) {
  top: .14rem;
  left: .14rem;
}

.box:nth-child(5n) {
  top: -.18rem;
  left: -.18rem;
}

.box .gem {
  position: absolute;
  top: 0;
  left: 0;
}

/* SUITS */
.moons {
  background-color: $moons-color;
}

.suns {
  background-color: $suns-color;
}

.waves {
  background-color: $waves-color;
}

.leaves {
  background-color: $leaves-color;
}

.wyrms {
  background-color: $wyrms-color;
}

.knots {
  background-color: $knots-color;
}

/* CONTROLS */
.button {
  color: $metal-color;
  padding: .5rem 1rem;
  border: .1rem solid $metal-color;
  border-radius: .5rem;
}

.hitbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4.8rem;
  min-height: 4.8rem;
}

/* FLAVOR */
.iconic {
  font-variant: small-caps;
  font-weight: bold;
  text-transform: capitalize;
}

.flavor::first-letter {
  float: left;
  font-size: $base-font-size * 1.1;
  line-height: 1;
  margin-right: .5rem;
  padding: .5rem;
  border: 4px double $ink-color;
}

/* UTILITY */
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}
.pixelated {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
}
